---
layout: default
---

<div class="home">
  
  
 <div class="col col-12">
      <div class="col col-3">
          <div class="block glass"  style="height: 262px; background-image:url(assets/avatar_300.png)">      
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass" style="height: 262px;">
            <div class="block-body">
                <h2>Hi, I'm Daniel Eder</h2>
                <p class="grey-text">I am a Senior Software Engineer and Agile Coach at <a href="http://www.automic.com/">Automic Software</a> currently working with an internal Services &amp; Enablement Team, providing basic serices and technologies like build servers, up-and-running systems or tools. My work ranges from coaching devs and project leads to writing code and running, fixing and engineering continuously deployed servides. On these pages I'm going to share ideas, opinions and learnings from my daily work. I'll also talk a bit about my side-projets of course...</p>
            </div>
        </div>
      </div>  
  </div>
  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
          <a href="{{port.url}}">
            <div class="block" style="background-image:url(assets/{{port.img}})">
                <div class="block-body height-{{port.height}}">              
                    <h2 class="align-bottom-right">
                      {{ port.title }}
                    </h2>
                </div>
             </div>
          </a>
      </div>
    {% endfor %}
    </div>
  <div class="col col-9">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
       {% if post.image != "" %}
       <div class="block {{post.color}}" style="background-image: url({{post.image}}); background-repeat: no-repeat; background-position: center;"> 
       {% else %}
        <div class="block {{post.color}}">
       {% endif %}
            <div class="block-body height-{{post.height}}">
                <span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">Skills</h3>                
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
